.center-content p {
  animation: slide 2s;
}

@keyframes slide {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

#home-img {
  animation: fadeIn 4s;
}
