.color-content {
  color: white;
  background-color: #3a381c;
}

.pad-5 {
  padding: 5px;
}

.center-content {
  display: flex;
  justify-content: center;
}

.img-large {
  height: 80%;
  width: 80%;
}

#menu-items {
  display: none;
  padding: 5px;
  right: 0px;
  position: absolute;
  list-style: none;
  background-color: white;
  color: black;
}

#menu-items li {
  display: block;
  text-align: center;
}

.margin-10 {
  margin: 10px;
}

#navbar > section {
  text-align: center;
  display:  inline-block;
  margin: 10px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
