.color-content {
  color: white;
  background-color: blue;
}

#menu-items {
  visibility: hidden;
  padding: 5px;
  position: absolute;
  right: 0;
  list-style: none;
  background-color: white;
  color: black;
}

#menu-items li {
  display: block;
  text-align: center;
}

#dropdown {
  margin: 10px;
}

#logo {
  text-align: center;
  display:  inline-block;
  margin: 10px;
}

#navbar {
  opacity: 0.2;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  height: 75px;
}
