body {
  font-family: sans-serif;
  overflow-x: hidden;
}

p, h1, h2, h3, h4, article, body, html {
  margin: 0;
  padding: 0;
}

article {
  margin: 10px;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.color-content {
  color: white;
  background-color: #3a381c;
}

.pad-5 {
  padding: 5px;
}

.center-content {
  display: flex;
  justify-content: center;
}

.img-large {
  height: 80%;
  width: 100%;
}

.margin-10 {
  margin: 10px;
}

#menu-items {
  display: none;
  padding: 5px;
  right: 0px;
  position: absolute;
  list-style: none;
  background-color: white;
  color: black;
}

#menu-items li {
  display: block;
  text-align: center;
}


#navbar > section {
  text-align: center;
  display:  inline-block;
  margin: 10px;
}

#navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  font-family: serif;
}

#headline {
  font-size: 3em;
  font-family: serif;
  color: white;
  position: relative;
  bottom: 100px;
}
